
# Created by https://www.gitignore.io/api/scala,bloop,metals
# Edit at https://www.gitignore.io/?templates=scala,bloop,metals

### Bloop ###
.bloop/

### Metals ###
.metals/

### Scala ###
*.class
*.log
*.metals
project/**/target
/target

# End of https://www.gitignore.io/api/scala,bloop,metals
